[submodule "engine/vendor/imgui-sfml"]
	path = application/vendor/imgui-sfml
	url = https://github.com/SFML/imgui-sfml
[submodule "application/vendor/imgui-docking/imgui"]
	path = engine/vendor/imgui-docking/imgui
	url = https://github.com/ocornut/imgui
[submodule "engine/vendor/sfml"]
	path = engine/vendor/sfml
	url = https://github.com/SFML/SFML.git
	branch = 2.6.x
[submodule "engine/vendor/yaml"]
	path = engine/vendor/yaml
	url = https://github.com/jbeder/yaml-cpp.git
